# Byte-compiled
__pycache__/

# Git files
.git/

# Distribution / packaging / PyInstaller
.spec
.idea/

# Virtual environment
venv/

# Project secrets
secrets.py

# User media
auction/media

# Test images

test_data/