aiohttp==3.6.2
asgiref==3.2.7
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.4.3
Automat==20.2.0
certifi==2020.4.5.1
cffi==1.14.0
channels==2.4.0
chardet==3.0.4
constantly==15.1.0
cryptography==3.2
cycler==0.10.0
daphne==2.5.0
Django==3.0.7
django-common-helpers==0.9.2
django-cron==0.5.1
django-crontab==0.7.1
django-extensions==2.2.9
django-filter==2.2.0
form==0.0.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
kiwisolver==1.2.0
matplotlib==3.2.1
multidict==4.7.6
numpy==1.18.4
Pillow==7.1.2
psycopg2==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydot==1.4.1
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
pyparsing==2.4.7
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
service-identity==18.1.0
six==1.15.0
sqlparse==0.3.1
Twisted==20.3.0
txaio==20.4.1
urllib3==1.25.9
yarl==1.4.2
zope.interface==5.1.0
