.card {
    max-width: 35%;
    margin: 20px auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #FBFBF2;
}

.card_form {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

h4 {
    text-align: center;
    font-style: Tahoma;
}

.card-img {
    margin: 10%;
    width: 90%;
    heigth: 90%;
}

.register_button{
    max-width: 90%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.field_wrapper{
    margin-top: 13px;
    margin-bottom: 13px;
}

.errorlist{
    color: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    text-align: ustify;
}

.error input, .error select{
    color: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 4px;
    text-align: ustify;
}

.input-form {
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.verify_text {
    font-size: 1.2em;
    color: rgb(50, 50, 50);
}

.uk-text-lead {
    text-align: ustify;
}