{% extends 'users/base.html' %}
{% load static %}

{% block title %}
    Author
{% endblock %}

{% block app_img %}
    <div class="card_wrapper">
        <div class="uk-card uk-card-default uk-card-large uk-card-body uk-width-1-1@m card_blank">
            <article class="uk-article">
                <p class="uk-text-lead">
                    This site was made using Django framework as IT-Academy course work on June 2020.<br>
                    Author - Andrey Zanevskiy, Minsk, Belarus. <br>
                    Source code you can see on
                    <a href="https://github.com/Gliger13/auction_site">github.com</a>
                </p>
            </article>
        </div>
    </div>
{% endblock %}