{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        Auction
        {% endblock %}
    </title>
    <link
            rel="icon"
            href="{% static 'images/base/favicon.ico' %}"
            type="images/x-icon"
    >
    <link
            rel="stylesheet"
            href="{% static 'css/base/styles.css' %}"
            type="text/css"
    >
    {% block head %}
    {% endblock %}
    <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/css/uikit.min.css" />
</head>
<body>
<header class="header">
    <div class="wrapper">

        <nav class="uk-navbar-container uk-navbar-transparent navigation" uk-navbar="mode: click" uk-navbar>

            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <a href="/">
                            <img class="header_img"
                                src="{% static 'images/base/hammer.png' %}"
                                width="70"
                                height="70"
                            >
                        </a>
                    </li>
                    <li><a href="/">Lots</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="/lots/create">Create lot</a></li>
                    {% endif %}
                </ul>
            </div>
            {% if not user.is_authenticated %}
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a href="/accounts/register">Sign in</a></li>
                    <li><a href="/accounts/login">Sign up</a></li>
                </ul>
            </div>
            {% else %}
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li>
                        <a class= "account_link" href="#">
                            <div class="nickname_header"> {{ user.username }} </div>
                            {% if user.avatar.latest.image.url %}
                            <img
                                class="user_avatar"
                                src="{{ user.avatar.latest.image.url }}"
                            >
                            {% else %}
                            <img
                                class="user_avatar"
                                src="{% static 'images/users/base_icon.png' %}"
                            >
                            {% endif %}
                            <img
                                class="arrow_down_img"
                                src="{% static 'images/base/arrow_down.png' %}"
                            >
                        </a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li><a href="#">Account settings</a></li>
                                <li><a href="/accounts/logout">Logout</a></li>
                            </ul>
                        </div>

                    </li>
                </ul>
            </div>
            {% endif %}
        </nav>
    </div>
</header>
<div class="content">
    <div class="wrapper">
        <img
                class="header_img"
                src="{% static 'images/base/title_img.jpeg' %}"
                width="100%"
        >
        {% block app %}
        <div class="uk-card uk-card-default uk-card-large uk-card-body uk-width-1-1@m">
            {% block content %}
            <h3 class="uk-card-title">Auction</h3>
            <p class="main-text">
            An auction is usually a process of buying and selling goods or services by offering them up for bid, taking bids, and then selling the item to the highest bidder or buying the item from the lowest bidder. Some exceptions to this definition exist and are described in the section about different types. The branch of economic theory dealing with auction types and participants' behavior in auctions is called auction theory.

            The open ascending price auction is arguably the most common form of auction in use throughout history. Participants bid openly against one another, with each subsequent bid required to be higher than the previous bid. An auctioneer may announce prices, bidders may call out their bids themselves or have a proxy call out a bid on their behalf, or bids may be submitted electronically with the highest current bid publicly displayed.

            Auctions were and are applied for trade in diverse contexts. These contexts are antiques, paintings, rare collectibles, expensive wines, commodities, livestock, radio spectrum, used cars, even emission trading and many more.
            </p>
            {% endblock %}
        </div>
        {% endblock %}
    </div>
</div>
<div class="footer">
    <div class="wrapper">
        <div class="footer_content">
            <table class="uk-table uk-table-center">
                <thead class="footer_head">
                    <tr>
                        <th class="footer_row">
                            <div class="footer_head_text">Help</div>
                        </th>
                        <th class="footer_row">
                            <div class="footer_head_text">Contacts</div>
                        </th>
                    </tr>
                </thead>
                <tbody class="footer_body">
                    <tr>
                        <td class="footer_row"><a class="footer_body_link" href="">FAQ</a></td>
                        <td class="footer_row"><a class="footer_body_link" href="">Author</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.4.6/dist/js/uikit-icons.min.js"></script>
</body>
</html>