.lot_card {
    margin 100px;
    padding 100px;

}

.lot_image {
    width: auto;
}


.toggled_form {
    color: black;
}

.price {
    font-size: 150%;
}

.show_button {
    max-width: 80%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.field_wrapper{
    margin-top: 13px;
    margin-bottom: 13px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.errorlist{
    color: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    text-align: ustify;
}

.error input, .error select{
    color: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 4px;
    text-align: ustify;
}

.error {
    color: red;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    text-align: ustify;
}

.correct {
    color: green;
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    text-align: ustify;
}

.input-form {
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.oneline {
    display: inline-block;
    float: left;
}

span {
    text-align: center;
    display: inline-block;
}

.time_left span {
    color: black;
    font-size: 40%;
}

.tags {
    text-align: center;
    margin-top: 1%;
    margin-right: 1%;
    display: inline-block;
}