.lot_wrapper {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;
}

.lot_card {
    background-color: #FBFBF2;
}

.lots_title {
    color: black;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page {
    margin-top: 40px;
    padding: 4%;
    padding-top: 1%;
}

.lot_image {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
}

.price {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 110%;
    color: rgb(25, 25, 25)
}

.no_lots_image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.paginator {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.filter {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    color: rgb(25, 25, 25);
}

.field_label {
    display: inline-block
    margin-top: auto;
    margin-bottom: auto;
    max-width: 90%;
}

.filter_button {
    text-align: right;
}

.field_wrapper {
    margin: 5%;
}

.errorlist {
    color: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    text-align: ustify;
}

.search_wrapper {
    margin: 1%;
    display: inline-flex;
    text-align: center;
    width: 100%;
}

.uk-search-input.uk-search.uk-search-large.search {
    border: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    margin-left: auto;
    margin-right: auto;
    width: 85%;

}
