.lot_wrapper {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;
}

.lot_card {
    color: #FBFBF2;
    background-color: #FBFBF2;
    background: #FBFBF2;
}

.lots_title {
    color: black;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.page {
    margin-top: 40px;
    padding: 4%;
    padding-top: 1%;
}

.lot_image {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
}

.price {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 110%;
    color: rgb(25, 25, 25)
}

.no_lots_image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}