{% extends 'base/main.html' %}
{% load static %}

{% block head %}
<link
        rel="stylesheet"
        href="{% static 'css/lots/page.css' %}"
        type="text/css"
>
{% endblock %}

{% block title %}
    Lots
{% endblock %}

{% block app %}

<div class="page">
    {% if not lots %}

    <div class="lots_title">
        Now there are no lots:
    </div>
    <div class="uk-card uk-card-default uk-width-1-1@m">
        <img class="no_lots_image" src="{% static 'images/lots/no_lots.png' %}">
    </div>

    {% else %}

    <div class="lots_title lot_wrapper">
        Available lots:
    </div>
    {% endif %}

    {% for lot in lots %}
     <div class="lot_wrapper">
         <div class="uk-card uk-card-default uk-width-1-1@m">
            <div class="lot_card">
                {% block main_content %}
                <div class="uk-card-header">
                    <div class="uk-grid-small uk-flex-middle" uk-grid>
                        <div class="uk-width-expand">
                            <h1 class="uk-card-title uk-margin-remove-bottom">{{ lot.heading }}</h1>
                            <p class="uk-text-meta uk-margin-remove-top">
                                Added by
                                <a class="uk-link-heading" href="/accounts/account/{{ lot.author }}">
                                    {{ lot.author }}
                                </a>
                                <time>
                                    {{ lot.created_at }}
                                </time>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="uk-card-body">
                    <div class="uk-column-1-2">
                        {% if lot.image %}
                        <img class="lot_image" src="{{ lot.image.url }}">
                        {% else %}
                        <img class="lot_image" src="{% static 'images/lots/base_lot.png' %}">
                        {% endif %}

                        {% for tag in lot.tags_list %}
                        {% if tag and not tag == 'None' %}
                        <span class="uk-badge">{{ tag }}</span>
                        {% endif %}
                        {% endfor %}

                        <p class="price">
                            Start price: {{ lot.base_price }}
                        </p>
                        <p class="price">
                            Last bit: {{ lot.current_price }}
                        </p>
                    </div>
                    {% endblock %}
                </div>
                <div class="uk-card-footer">
                    <a href="/lots/lot/{{ lot.id }}" class="uk-button uk-button-text">Read more</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% if lots %}
        {% if lots.has_previous or lots.has_next %}
        <div class="lot_wrapper">
            <div class="uk-card-header lot_card">
                <ul class="uk-pagination uk-flex-center">
                    {% if lots.has_previous %}

                        <li><a href="/lots/page/{{ lots.previous_page_number }}"><span uk-pagination-previous></span></a></li>
                        <li><a href="/lots/page/1">1</a></li>

                        {% if lots.previous_page_number != 1 %}

                            <li class="uk-disabled"><span>...</span></li>
                            <li>
                                <a href="/lots/page/{{ lots.previous_page_number }}">
                                    {{ lots.previous_page_number }}
                                </a>
                            </li>

                        {% endif %}
                    {% endif %}
                        <li class="uk-active"><span>{{ lots.number }}</span></li>
                    {% if lots.has_next %}

                        <li>
                            <a href="/lots/page/{{ lots.next_page_number }}">
                                {{ lots.next_page_number }}
                            </a>
                        </li>

                        {% if lots.next_page_number != lots.paginator.num_pages %}

                            <li class="uk-disabled"><span>...</span></li>
                            <li>
                                <a href="/lots/page/{{ lots.next_page_number }}">
                                    {{ lots.paginator.num_pages }}
                                </a>
                            </li>
                        {% endif %}
                            <li><a href="/lots/page/{{ lots.next_page_number }}"><span uk-pagination-next></span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
    {% endif %}
</div>





{% endblock %}